                                        /* Paramètres généraux et communs aux deux parties */

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #FFB547;;
}

.descriptif {
    text-align: justify;
    font-size: 14px;
    font-weight: 490;
    line-height: normal;    
}

                                        /* Différents titres */

h1 {
    text-transform: uppercase;
    font-size: 40px;
    padding-top: 50px;
}

h2 {
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 600;
    width: auto; 
}

h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

h4 {
    font-size: 14px;
    font-weight: 490;

}

                                        /* partie gauche */ 

.leftpart {
    background-color: #FFB547;
}

.photo {
    justify-content: center;
    align-content: center;
    padding: 10px;
}

img {
    border-radius: 50%;
    border:4px solid #FF8C00;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.perso {
    background-color: #2F4F4F;
    text-align: center;
    color: #FFB547;
    margin-left: -16px;
    margin-right: -15px;
}

.perso h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

li {
    list-style-type: none;
    font-weight: 600;
    font-size: 15px;
}

.renseignement {
    padding-top: 10px;
}

.bio {
    padding: 20px;
    height: 550px;
}

.loisirs {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    color: #2F4F4F;
}

                                        /* Partie droite */

.rightpart {
    padding-left: 50px;
    padding-right: 50px;
}

header {
    display: flex;
    flex-direction: column;
}


span {
    color: #FFB547;
}

.metier {
    text-transform: none;
    position: relative;
    color: #2F4F4F;
}

.metier:before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    padding-top: 12px;
    height: 1px;
    width: 80px;
    border-bottom: 2px solid #FFB547;
}

.catego {
    color: #FFB547;
    padding-right: 30px;
}

.date_place {
    display: flex;
}

.bordure_liste {
    padding-left: 15px;
}

.icone_liste {
    padding-top: 4px;
    color: #FFB547;
}

.fa-circle {
    font-size: 9px;
    padding-top: 6px;
}

.trait_dessus{
    border-bottom: 1px solid #FFB547;
    width: auto;
    margin-bottom: 30px;
}

.partie_generale{
    color: #2F4F4F;
    padding-top: 10px;
}

.section_title{
    color: black;
    font-size: 20px;
    font-weight: 645;
}

.recommandations {
    padding-left: 0;
}


                                        /* Responsive design */

@media (min-width: 768px) {
    .container {
      width: 750px;
    }

    .bio {
        padding: 20px;
        height: 700px;
    }
}

@media (min-width: 992px) {
    .container {
      width: 970px;
    }

    .bio {
        padding: 20px;
        height: 900px;
    }
}

@media (min-width: 1200px) {
    .container {
      width: 800px;
    }

    .bio {
        padding: 20px;
        height: 550px;
    }

}

@media (max-width: 768px) {
    .bio {
        padding: 20px;
        height: 280px;
    }

    .perso {
        margin-right: -16px;
    }

    .loisirs {
        display: none;
    }

    .logoloisirs {
        display: none;
    }
}

